* {
    font-size: 18px;
    font-family: Verdana, Arial, Helvetica, Sans-Serif;
    color: black;
}
a{
    color: black;
    text-decoration:none;
}
body {
    
    background-color: white;
    padding-left: 40px;
}
table {
    vertical-align: middle;
    text-align: left;
}
td {
    padding-right: 20px;
    padding-left: 20px;
}
button {
    border: none 1px #000000;
    border-radius: 5px;
}

table {
    background-color: #FFFFFF;
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}

table td{
    border: 1px solid #AAAAAA;
    padding: 3px 2px;
}

table tbody td {
    font-size: 13px;
    color: #330626;
}

table tr:nth-child(even) {
    background: #D8D8D8;
}

table thead {
    background: #8C8C8C;
    border-bottom: 2px solid #444444;
}

table thead th {
    font-size: 15px;
    font-weight: bold;
    color: #FFFFFF;
    text-align: left;
}

table.blueTable tfoot td {
    font-size: 14px;
}

table.blueTable tfoot .links {
    text-align: right;
}

    table.blueTable tfoot .links a {
        display: inline-block;
        background: #1C6EA4;
        color: #FFFFFF;
        padding: 2px 8px;
        border-radius: 5px;
    }